.gradle/
build/
android/build/
android/app/build/

.idea/
*.iml
local.properties
.navigation/

android/kls_database.db

.DS_Store
Thumbs.db
*.tmp
*.bak

.android/
.direnv/
.devenv/
result
result-*

go-core/go-core

android/app/src/main/jniLibs

secrets
